#contact_modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(196, 196, 196, 0.4);
    overflow: auto;
    z-index: 2;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.photographer-name{
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    margin: 0;
}
.photographer-location{
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}
.photographer-tagline{
    color: #525252;
    font-size: 18px;
    font-weight: 400px;
}
.photographer-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/**
    Sort by Dropdown
*/
.sort_by {
    display: flex;
    gap: 10px;
    margin-left: 100px;
    width: auto;
}

.sort_title {
    font-size: 1.2rem;
    font-weight: 900;
}

.dropdown {
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    list-style: none;
    padding: 0;
    position: relative;
    width: 150px;
    z-index: 1;
}
  
.fa-chevron-up {
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: transform 0.2s linear;
}
  
.fa-chevron-up.expanded {
    transform: rotate(-180deg);
}
  
.dropdown__list {
    background-color: #901C1C;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transition: max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9), opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9);
    width: 100%;
}
  
.dropdown__list-container {
    position: relative;
}
  
.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.dropdown__list-item {
    color: white;
    overflow: hidden;
    padding: 10px 0px;
    padding-left: 15px;
    text-overflow: ellipsis;
    transition: background-color 0.1s linear;
    white-space: nowrap;
}
  
.dropdown__list-item:hover, .dropdown__list-item:focus {
    background-color: rgba(244, 28, 28, 0.5);
    color: white;
}
  
  
#option-1::before, #option-2::before, #option-3::before{
    border: solid 1px white;
    content: '';
    position: absolute;
    left: 10%;
    margin-top: -10px;
    width: 80%;
    z-index: 4;
}
  
#dropdown__selected {
    color: white;
    font-family: Lato, sans-serif;
    max-width: 100%;
    overflow: hidden;
    padding: 10px 0px;
    padding-left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  
#dropdown__selected:focus {
    outline: 1px solid rgba(144, 28, 28, 0.5);
}
  
.option-3 {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
  
.open {
    max-height: 15rem;
    opacity: 1;
    overflow: auto;
}
/**
  Photographer medias
*/
.photographer-medias {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 100px 100px; 
}
.photographer-medias article {
    width: 350px;
}
.photographer-medias img, .photographer-medias video {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    cursor: pointer;
}

.photographer-medias video {
    background-color: #000000;
}

.photographer-medias h3 {
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
    margin-top: 15px;
    
}

.photographer-medias .item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-content {
    color: rgba(144, 28, 28, 1);
}
.likes-container .likes-number{
    margin-right: 4px;
}
.contact-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 44%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    margin-top: 30px;

}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: flex-start;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    line-height: 64px;
    margin-top: 0;
    margin-bottom: 20px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 36px;
}
form textarea {
    width: 100%;
}
.total-likes {
background-color: rgba(219, 136, 118, 1);
width: 316px;
height: 69px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 30px;
border-radius:5px  5px 0 0;
position: fixed;
bottom: 0;
right: 30px;
font-size: 24px;
font-weight: 500;
}
/**
 LightBox
 */
.lightbox {
    display: none;
    background-color: #ffffff;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
}

.lightbox i {
    color: #901C1C;
    font-size: 42px;
    cursor: pointer;
}

.lightbox .right-icons {
    display: flex;
    flex-direction: column;
}

.lightbox-close {
    position: fixed;
    top: 15%;
}

.lightbox-container {
    width: 60%;
}

.lightbox-container img, .lightbox-container video {
    width: 100%;
    max-height: 500px;
}
.lightbox-container h3{
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
}
